.doctors {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
}
.left {
    width: 20%;
    left: 0;
    background-color: #D3D3D3;
}
.left h3{
    text-align: start;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 18%;
}
.left p{
    margin-left: 18%;
}
.right {
    width: 80%;
    right: 0;
    background-color: #fff;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.form-select{
    width: 100%;
    outline: none;
}
.doctor-filter{
    margin-top: 10%;
}
.navbar{
    position: fixed;
    top: 0px;
    right: 10px;
    background-color: red;
    width: 79%;
    
    
}