{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Departments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'departments.css' %}">
</head>
<body>
    <div class="container">
        <div class="signup">
            <h4><a href="#">Signup</a></h4>
            <h4><a href="#">Signin</a></h4>
        </div>
        <h1>Departments</h1>
        <div class="cards">
            {% for department in departments %}
                <div class="card">
                    <div class="card-header">{{ department.dep_name }}</div>
                    <div class="card-body">{{ department.dep_description }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
