{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/doctors.css' %}">
</head>

<body>
    <div class="doctors left">
        <div class="contered">
            <div class="doctor-filter">
                <h3>Filters</h3>
                <p>Specialization</p>
                <div class="container mt-2 d-flex justify-content-center">
                    <select class="form-select" aria-label="Default select example" style="width: auto;">
                        <option selected>Select Specialization</option>
                        <option value="1">Cardiology</option>
                        <option value="2">Orthopedics</option>
                        <option value="3">Pediatrics</option>
                        <option value="3">Gynecology</option>
                        <option value="3">Oncology</option>
                    </select>
                </div>
                <p class="mt-4">Availability</p>
                <div class="container mt-2 d-flex justify-content-center">
                    <select class="form-select" aria-label="Default select example" style="width: auto;">
                        <option selected>Select availability times</option>
                        <option value="1">Morning (8am - 12pm)</option>
                        <option value="2">Afternoon (12pm - 4pm)</option>
                        <option value="3">Evening (4pm - 8pm)</option>
                        <option value="3">Night (8pm - 12am)</option>
                    </select>
                </div>
                <div class="btn btn-success ml-5 mt-4">Submit</div>
            </div>
        </div>
    </div>
    <div class="doctors right">
        <div class="contered">
            <div class="navbar">
                
            </div>
        </div>
    </div>
</body>

</html>