{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Feedback</title>
</head>
<body>
    <section id="testimonials">
        <div class="testimonial-heading">
            <span>Comments</span>
            <h1>Patients Say</h1>
        </div>
        <!-- Testimonials -->
        <div class="testimonial-box-container">
            {% for patient in patientsdetial %}
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="{{ patient.patients_image.url }}" alt="Patient Image">
                        </div>
                        <div class="name-user">
                            <strong>{{ patient.patients_name }}</strong>
                            <span>{{ patient.patients_username }}</span>
                        </div>
                    </div>
                </div>
                <!-- Patient's Comment -->
                <div class="patients-comment">
                    <p>{{ patient.patients_comments }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>