{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Feedback</title>
</head>
<body>
    <section id="testimonials">
        <div class="testimonial-heading">
            <span>Comments</span>
            <h1>Patients Say</h1>
        </div>
        <!--Testimonial-->
        <div class="testimonial-box-container">
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../static/images/banner.jpg" alt="">
                        </div>
                        <div class="name-user">
                            <strong>Usaid ok</strong>
                            <span>@usaid</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!--Comments-->
                <div class="patients-comment">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id repudiandae ipsam error illum nobis
                        quo aliquid magni omnis laborum numquam mollitia molestias dicta quisquam, magnam fugit animi
                        dolores vero minus!</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../static/images/banner.jpg" alt="">
                        </div>
                        <div class="name-user">
                            <strong>Usaid ok</strong>
                            <span>@usaid</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!--Comments-->
                <div class="patients-comment">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id repudiandae ipsam error illum nobis
                        quo aliquid magni omnis laborum numquam mollitia molestias dicta quisquam, magnam fugit animi
                        dolores vero minus!</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../static/images/banner.jpg" alt="">
                        </div>
                        <div class="name-user">
                            <strong>Usaid ok</strong>
                            <span>@usaid</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!--Comments-->
                <div class="patients-comment">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id repudiandae ipsam error illum nobis
                        quo aliquid magni omnis laborum numquam mollitia molestias dicta quisquam, magnam fugit animi
                        dolores vero minus!</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../static/images/banner.jpg" alt="">
                        </div>
                        <div class="name-user">
                            <strong>Usaid ok</strong>
                            <span>@usaid</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!--Comments-->
                <div class="patients-comment">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id repudiandae ipsam error illum nobis
                        quo aliquid magni omnis laborum numquam mollitia molestias dicta quisquam, magnam fugit animi
                        dolores vero minus!</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>